.card-container {
  width: 100px;
  height: 140px;
  perspective: 1000px;
  cursor: pointer;

}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-container.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  border: 2px solid #333;
}

.card-front {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  transform: rotateY(180deg);
}

.card-back {
  background-color: #6a0dad;
  background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #6a0dad 10px ), repeating-linear-gradient( #8a2be2, #8a2be2 );
}

.card-number {
  font-size: 24px;
  font-weight: bold;
}

.card-art {
  width: 80%;
  height: 60%;
  background-color: #ccc;
}
