.card-container {
  width: 100px;
  height: 140px;
  perspective: 1000px;
  cursor: pointer;

}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-container.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  border: 2px solid #333;
}

.card-front {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  transform: rotateY(180deg);
  position: relative; /* Added for positioning context */
}

.card-back {
  background-color: #6a0dad;
  background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #6a0dad 10px ), repeating-linear-gradient( #8a2be2, #8a2be2 );
}

.card-number-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px; /* Adjust size as needed */
  height: 25px; /* Adjust size as needed */
  z-index: 1; /* Ensure it's on top of other elements */
}

.card-art {
  width: 80%;
  height: 60%;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
}

.card-name {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2px 0;
}
